#Extras{
    grid-column-end: span 3;
    display: grid;  
    grid-template-areas:
        'titulo titulo titulo'
        'navegacao cozinheiro proficiencias'
        'qualidades defeitos fome';
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

#Extras h2{
    grid-area: titulo; 
}

#Extras .bloco{
    padding: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 100%;
}

#Extras .bloco h4{
    margin: 10px 0px;
}

#Extras .navegacao{
    grid-area: navegacao;
}

#Extras .cozinha{
    grid-area: cozinheiro;
}

#Extras .proficiencias{
    grid-area: proficiencias;
}

#Extras .qualidades{
    grid-area: qualidades;
}

#Extras .defeitos{
    grid-area: defeitos;
}

#Extras .Faminto{
    grid-area: fome;
    height: 200px;
}

#Extras .bloco input[type="number"]{
    width: 50px;
}