html, body{
    margin: 0;
    background-color: var(--bg1);
    color: var(--font1);
}

#NavCalc{
    display: grid;
    grid-template-areas: 
        'principal resultados'
        'extras extras';
    width: 100%;
    height: 100%;
}

#Resultados{
    grid-area: resultados;
    display: grid;
    text-align: justify;
    padding: 20px;
}