#Principal{
    display: grid;  
    grid-template-areas:
        'tipo tipo'
        'estouO vouO'
        'estouR vouR'
        'estouI vouI'
        'grupo barco';
    height: 600px;
    width: 540px;
}

#Principal .bloco{
    padding: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 50%;
}

#Principal .bloco h3{
    margin: 10px 0px;
    font-size: 1.05em;
}

#Principal .bloco select{
    width: 200px;
    font-size: 12px;
}

#Principal .OceanoEstou{
    grid-area: estouO;
}

#Principal #RotaEstou{
    grid-area: estouR;
}

#Principal #IlhasEstou{
    grid-area: estouI;
}

#Principal .OceanoVou{
    grid-area: vouO;
}

#Principal #RotaVou{
    grid-area: vouR;
}

#Principal #IlhasVou{
    grid-area: vouI;
}

#Principal .Vou{
    grid-area: vou;
}

#Principal .grupo{
    grid-area: grupo;
}

#Principal #barcoSelecao{
    grid-area: barco;
}

#Principal #barcoSelecao input[type="number"]{
    width: 50px;
}

#Principar .noBorder{
    border-collapse:collapse;
    border:none;
}

#Principal .noBorder td{
    border: none;
}

#Principal .tipo{
    grid-area: tipo;
}